@import "swiper/css";
@import "swiper/css/pagination";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }


  .date-picker-wrapper {
    width: 100%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #003459;
}